<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" id="WebApp_ID" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<display-name>ServletFiltersExple</display-name>
<welcome-file-list>
<welcome-file>input.html</welcome-file>
</welcome-file-list>
<filter>
<filter-name>checkInputs</filter-name>
<filter-class>com.nt.filter.InputFilterValidation</filter-class>
</filter>
<filter-mapping>
<filter-name>checkInputs</filter-name>
<url-pattern>/sumurl</url-pattern>
</filter-mapping>
<filter>
<filter-name>checkRequest</filter-name>
<filter-class>com.nt.filter.RequestCountFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>checkRequest</filter-name>
<url-pattern>/check</url-pattern>
</filter-mapping>
</web-app>